.projects-management {
    background-color: #000000df;
    padding: 5%  3% 10% 3%;
    width: 94%;
}

.devly {
    margin-bottom: 5%;
}

.stack-alt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin: 3% auto;
    width: 50%;
}

.bstrap-alt {
    width: 15%;
    height: 7%;
}

.pm-data{
    width: 95%;
    height: 95%;
    border-radius: 5%;
    position: relative;
    bottom: 1vh;
}

.pm-alt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50%;
    border-radius: 5%;
    margin-top: 1%;
    position: relative;
    bottom: 2vh;
    left: 5%;
}

.project-images-pm div {
    margin-top: 5%;
}