.contacto {
    margin: 0 auto;
    padding: 16.5% 2%;
    color: white;
    width: 96%;
    height: 100vh;
}

.contacto h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: #000000e2;
    border-radius: 5%;
    padding: 2rem;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.493);
}

.contacto form:hover {
    background-color: #000;
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.7),
        0 0 20px rgba(70, 70, 70, 0.5),
        0 0 30px rgba(84, 84, 84, 0.3);
    transition: all 0.3s ease;
}

.contacto label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
}

.contacto input,
.contacto textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 0.5rem;
    background-color: #000000;
    color: white;
}

.contacto button {
    padding: 12px;
    background-color: #0d0d0d;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contacto button:hover {
    background-color: #2e2e2e;
}

.asunto-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #1b1b1b;
    color: #f0f0f0
}

@media screen and (max-width: 1025px) {
    .contacto {
        padding: 21% 2%;
    }

    .footer {
        height: 9vh;
    }
}

@media screen and (max-width: 769px) {
    .contacto {
        padding: 29% 2%;
    }

    .footer {
        padding-bottom: 0%;
        height: 9vh;
    }

    :root {
        padding: 0;
    }

    .contacto form {
        width: 75%;
    }
}

@media screen and (max-width: 426px) {
    .contacto {
        height: 53vh;
        padding: 35% 2%;
    }

    .contacto form {
        bottom: 10vh;
        position: relative;
    }

    input {
        width: 50%;
    }
}