.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    background-color: rgb(26, 25, 25);
    height: 11vh;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0 0 32px rgba(255, 255, 255, 0.2);
}

.footer div {
    margin-top: 2%;
}

.social-icons {
    display: flex;
    gap: 30px;
    padding-right: 4%;
}

.social-icons img {
    width: 95%;
    height: 50%;
    transition: transform 0.2s ease-in-out;
    border-radius: 25%;
}

.social-icons img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1441px) {
  .footer {
    padding-bottom: 1%;
  }
}