.project-cookbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180vh;
    position: relative;
    top: 3vh;
    margin-bottom: 15%;
}

.stack-alt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 5%;
}

.project-images-cookbook {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 3px;
}

.cooks {
    display: flex;
    justify-self: center;
    width: 50%;
    height: 100%;
    border-radius: 5%;
}

.mysql-cb {
    margin-left: 10%;
    width: 40%;
    height: 66%;
    border-radius: 5%;
}

@media screen and (max-width: 769px) {
    .stack-alt {
        justify-content: space-evenly;
        width: 90%;
    }
}

@media screen and (max-width: 426px) {

    .project-cookbook {
        height: 400vh !important;
        top: 0vh;
    }

    .project-images-cookbook {
        display: flex;
        flex-direction: column;
    }

    .cooks {
        margin: 0 auto;
    }

    .project-cookbook .stack-alt {
        width: 90%;
    }
}