.comandapp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000df;
    padding: 20px;
    color: white;
}

.comandapp-container h1 {
    margin-bottom: 10px;
}

.stack-commandapp {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    width: 50%;
}

.stack-commandapp img {
    height: 100px;
    border-radius: 8px;
}

.styles-stack {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin-bottom: 20px;
}

.styles-stack img {
    width: 50%;
    height: 10vh;
    border-radius: 8px;
    margin: 1%;
}

.project-images-pm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.pm {
    width: 100%;
    height: 25vh;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.pm:hover {
    transform: scale(1.02);
}

.mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    width: 100%;
}

.mobile .pm {
    width: 100%;
    border-radius: 8px;
    height: 60vh;
}

@media screen and (max-width:1025px) {
    .stack-commandapp {
        margin: 3% 0% 3% 5%;
    }
}

@media screen and (max-width: 769px) {
    .stack-commandapp {
        width: 100% !important;
        margin: 20px 0 !important;
    }

    .next {
        width: 20%;
        height: 88% !important;
    }

    .styles-stack {
        width: 35%;
    }

    .node-js {
        height: 100px !important;
        width: 32%;
    }

    .twind,
    .bstrap {
        height: 14vh !important;
    }

    .stack-commandapp img {
        height: 100px;
    }

    .styles-stack {
        width: 50%;
    }

    .project-images-pm {
        display: flex;
        flex-direction: column;
    }

    .mobile {
        display: flex;
        flex-direction: column;
    }

    .mobile .pm {
        height: 100vh;
        width: 80%;
        margin: 1% auto;
    }
}

@media screen and (max-width: 426px) {

    .stack-commandapp{
        width: 60% !important;
    }

    .styles-stack {
        width: 65%;
    }

    .next {
        width: 40%;
    }

    .node-js{ width: 52%;}

    .mysql { width: 52%; }
}