.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200vh;
    padding: 0 auto;
}

.bash {
    position: relative;
    right: 5%;
}

.bash-img {
    width: 30%;
    height: 70%;
    border-radius: 59%;
    margin-top: 5%;
}

.bash-img-1 {
    width: 55%;
    height: 80%;
}

.bash-script {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.bash-script img {
    width: 45%;
    height: 100%;
    border-radius: 3%;
}

.bash-script-img {
    margin: 3% auto;
    border-radius: 3%;
    width: 60%;
    height: 100%;
}

@media screen and (max-width: 769px) {

    .bash-script {
        flex-direction: column;
    }

    .bash-script img {
        margin: auto;
        width: 75%;
    }

    .bash-script-img {
        width: 75%;
    }
}

@media screen and (max-width: 426px) {
    .project{
        position: relative;
        bottom: 10vh;
    }
}