main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #0000007f;
  height: 110vh;
  padding-bottom: 20%;
}

main img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-right: 5%;
  margin-left: 3%;
}

.container {
  width: 700px;
  margin: 20px auto;
  padding: 0 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #000000df;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.493);
  line-height: 1.6;
  opacity: 1;
  border-radius: 5%;
}

.container:hover {
  background-color: #000;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.83);
  transition: all 0.3s ease;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.paragraph {
  margin-bottom: 1.3rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 1441px) {
  .container {
    width: 80%;
    margin: 20px auto;
    padding: 0 10px;
  }

  main img {
    margin: auto;
    width: 40%;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
    height: 130vh;
  }

  .container {
    width: 90%;
  }

   main img {
    width: 60%;
  }
}

@media screen and (max-width: 768px) and (orentation: landscape) {
   main img {
    margin: auto;
    width: 40%;
    height: auto;
  }
}

@media screen and (max-width: 426px){
  main {height: 162vh;}
   main img {
    margin: auto;
    width: 90%;
    height: auto;
  }
  .container {margin-bottom: 20vh;}
}

@media screen and (max-width: 397px){
  main {height: 170vh;}
  .container {margin-bottom: 20vh;}
}

@media screen and (max-width: 321px) {
  main{height: 200vh;}
}