main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #1684b0ab;
}

main img {
  width: 30%;
  height: auto;
  border-radius: 10px;
  margin-right: 10%;
  margin-left: 3%;
}

.container {
  width: 700px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #1684b0ab;
  line-height: 1.6;
  opacity: 1;
  border-radius: 5%;
}

.container:hover {
  background-color: #1684b0d0;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.493);
  transition: all 0.3s ease;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.paragraph {
  margin-bottom: 1.3rem;
  font-size: 1.1rem;
}
